body {
    background-color: darkgray;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    background-color: black;
    border-radius: 15px;
}

.card-back {
    background-color: black;
}

button {
    background-color: darkgray;
    border-radius: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
}