body {
    background-color: darkgray;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card-container {
    display: flex;
}


.card {
    margin: 10px;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
}

.card-back {
    background-color: black;
}


.card-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-front, .card-back {
    backface-visibility: hidden;
}

.card-back {
    background-color: black;
    transform: rotateY(180deg);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

button {
    background-color: darkgray;
    border-radius: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
}